* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: solid 2px #d30606;
  border-radius: 15%;
  padding: 5px;
}

footer {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  background-color: #0f0f0f;
  padding-top: 10px;
  padding: 5px;
  margin: 0px;
  width: 100%;
  height: 100%;
}
footer ul {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  display: flex;
  list-style: none;
  padding: 5px;
  margin: 5px;
  width: 100%;
}
footer a {
  text-decoration: none;
  color: #db5801;
  align-items: center;
}

nav {
  display: flex;
  text-decoration-line: none;
  padding: 5px;
  margin: 1px;
}
nav ul {
  padding: 10px;
  list-style: none;
  justify-content: flex-end;
}
nav li {
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  padding: 2px;
  margin: 1px;
}
nav a {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  display: flex;
  padding: 10px;
  margin: 2px;
  font-size: 40px;
  color: #db5801;
  text-decoration: none;
  text-align: right;
  transition: 0.5s;
  border: 1px solid transparent;
  border-radius: 5px;
}

nav ul li a:hover {
  border: 1px solid #db5801;
}

.nav-link:focus,
.nav-link:hover {
  color: #db5801;
  opacity: 0.7;
}

.navbar-expand-lg .navbar-collapse {
  flex: unset;
}

nav ul li.active {
  background-color: #1b1b1b;
  opacity: 5;
  border-radius: 5px;
}

.navbar {
  height: 100%;
}

.nav-link {
  color: #db5801;
  font-size: 1.5em;
  font-weight: bold;
}

.formulario {
  display: flex;
  flex-direction: column;
  color: #61a38d;
  font-size: 150%;
  font-weight: bold;
  margin: 10px;
  padding: 20px;
  gap: 20px;
}

.etiqueta-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fechas {
  width: 80%;
}

.tarjeta {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.card-fechas {
  color: #d30606;
  background-image: radial-gradient(#0a0a0a, #030303);
  height: 50%;
  width: 40%;
  gap: 15px;
  animation-name: animacion;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 8s;
  transform: translateX(0);
}
.card-fechas ul {
  gap: 15px;
}

@keyframes animacion {
  0% {
    transform: translateX(-150%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.galeria {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin: 5px;
}
.galeria img {
  width: 100%;
  object-fit: cover;
}

.video {
  display: grid;
  grid-template-columns: repeat(2, 1.5fr);
  justify-content: space-around;
  align-items: center;
  padding: 2px;
  padding-top: 20px;
  margin: 0px;
  gap: 10px;
  height: 800px;
  width: 100%;
}
.video iframe {
  width: 100%;
  height: 300px;
}

.imagen-inicio {
  display: flex;
  justify-content: center;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.inicio {
  display: flex;
}
.inicio img {
  display: flex;
  align-items: center;
  align-self: center;
  width: auto;
  object-fit: cover;
  padding: 5px;
  margin: 1px;
}
.inicio p {
  display: flex;
  flex-direction: row-reverse;
  width: 45%;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  color: #0d6440;
  animation-name: animacion;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 5s;
  transform: translateX(0);
}
@keyframes animacion {
  0% {
    transform: translateX(-150%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  background-color: rgb(0, 0, 0);
  font-family: "Permanent Marker", cursive;
}

h2 {
  background-image: linear-gradient(#d83f18, #d30606);
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  padding: 2%;
  margin: 2%;
}

header {
  position: sticky;
  background-image: linear-gradient(to right, rgb(0, 0, 0) 25%, rgb(15, 15, 15), rgb(18, 19, 15));
}

@media screen and (max-width: 576px) {
  header {
    flex-direction: row;
    width: 100%;
  }
  nav {
    background-color: rgb(0, 0, 0);
    padding: 1px;
    justify-content: flex-start;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1px;
  }
  nav li {
    flex-direction: column;
    align-self: flex-start;
  }
  nav a {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1px;
    display: contents;
    font-size: 5px;
    padding: 1px;
  }
  h1 {
    text-align: start;
  }
  .inicio {
    flex-direction: column-reverse;
  }
  .inicio p {
    font-size: 16px;
    justify-content: center;
    width: 90%;
    padding: 10px;
  }
  .imagen-inicio {
    width: 80%;
    align-items: center;
    padding: 2px;
    padding-left: 40px;
  }
  .galeria {
    display: flex;
    flex-direction: column;
  }
  .video {
    display: flex;
    flex-direction: column;
  }
  .video iframe {
    width: 90%;
    height: 150px;
  }
  .card-fechas {
    width: 70%;
  }
  footer ul {
    flex-direction: row-reverse;
  }
  footer {
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
