// media queris
@media screen and (max-width: 576px) {
  header{
    flex-direction: row;
    width: 100%;         
  }
    .navbar-brand {
      display: flex; 
      flex-direction: row;   
      width: 50%;
      height: 40%;
      
    }
    nav{
      background-color: rgb(0, 0, 0);
      flex-direction: column;
      padding: 1px;
    
      & ul{
        flex-direction: column;       
        align-items: center;
        justify-content: flex-start;
        padding: 1px;        
      }
      & li {
        flex-direction: column;
        align-self: flex-start;
      }
      & a {
        @include flexbox(column, flex-start,center, 1px);
        font-size: 5px;        
        padding: 1px;
        }
      }
      
    
    h1 {
      text-align: start;
    }
    .inicio {
      flex-direction: column-reverse;
    }
    .inicio p {
      font-size: 16px;
      justify-content: center;
      width: 90%;
      padding: 10px;
    }
    .imagen-inicio{
      width: 90%;
    }
    .galeria {
      display: flex;
      flex-direction: column;
    }
    .video {
      display: flex;
      flex-direction: column;
    }
    .video iframe {
      width: 90%;
      height: 150px;
    }
    footer ul {
      flex-direction: row-reverse;
    }
    footer {
      justify-content: center;
    }
  }