//mixin
@mixin flexbox ($direction,$justify,$aling,$gap,$display)
{
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $aling;
    gap: $gap;
    display: $display;
}
//extend
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: solid 2px $color-texto;
    border-radius: 15%;
    padding: 5px;
       
}